body {
  margin: 0;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}
ol {
  padding: 20px;
  border-right: 1px solid gray;
  margin: 0;
  width: 100px;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
  padding-left: 33px;
}
#article {
  padding-left: 25px;
}
#button {
  display: inline;
  border: 1px gray solid;
  padding: 15px;
}
#box {
  text-align: center;
  margin-top: 100px;
}
a {
  color: blue;
}
@media (max-width: 800px) {
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
#comment_box_line {
  border: 1px gray solid;
  padding: 25px;
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
ul li {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}
#comment_textarea {
  width: 500px;
  height: 100px;
}
#comment_input_box {
  width: 315px;
}
#control_button button a {
  color: black;
}
#control_button button {
  display: block;
  margin: 10px;
}
#control_button {
  margin: 10px;
}
